body {
	margin: 0;
	padding:0;
}

header {
	height: 60px;
	width: 100%;
	color: red;
	background-color: red;
  	padding-right: 695px;
  	padding-left: 585px;
 	margin-left: 0;
}
footer {
	display: flex;
  	background-color: rgb(35, 242, 35);
  	color: white;
  	height: 60px;
  	width: 100%;
  	align-items: center;
  	flex-direction: column ;
  	position: fixed;
  	justify-content: center;
  	bottom: 0;
}
